.wwd {
  padding-top: 0;
}
.wwd__title {
  @include title-sections;
}
.wwd__list {
  display: flex;
}
.wwd__content {
  position: relative;
  &:not(:last-child) {
    margin-right: rem(30);
  }
}
.wwd__details {
  @include font-custome(700, 14, 16, 0.03);
  text-align: center;
  text-transform: uppercase;
  color: getColor("white-color");
  margin: 0;
  padding: rem(27);
  position: absolute;
  background: getColor("img-background");
  width: 100%;
  bottom: 0;
}
